#about-me {
    background-color: #4915f8;
    padding: 50px;
}

#about-me h1 {
    text-align: center;
    color: #F4D03F;
    display: block;
}

#about-me h1:hover {
    color: #B7950B;
}

.left-hr {
  width: 100px;
  height: 2px;
  background-color: white;
  transition: 1s;
}

.titel {
    margin: 50px 0;
}

.titel:hover .left-hr {
  width: 100%;
  background-color: #F4D03F;
  transition: 1s;
}

.right-hr {
width: 100%;
  height: 2px;
  background-color: white;
  transition: 1s;
}

.titel:hover .right-hr {
    width: 100px;
    background-color: #F4D03F;
    transition: 1s;
  }

#about-text p {
    max-width: 460px;
    min-width: 300px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: auto;
}

#about-text p a {
    text-decoration: none;
}

#about-knowledge {
    color: #E74C3C;
}

#about-knowledge:hover {
    color: #943126;
}

#about-experience {
    color: #8E44AD;
}

#about-experience:hover {
    color: #6C3483;
}

#about-created {
    color: #F4D03F;
}

#about-created:hover {
    color: #B7950B;
}

#about-skills {
    color: #48C9B0;
}

#about-skills:hover {
    color: #0E6251;
}

#about-text p span {
    color: #27AE60;
}

#about-text p::first-letter {
    font-size: 80px;
    color: #F4D03F;
}

#about-text p:hover::first-letter {
    color: #B7950B;
}

#about-gif img {
    width: 500px;
}

#about-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}