#skills {
    background-color: #0069ff;
    padding: 90px;
}

.titel h1 {
    text-align: center;
    color: #F4D03F;
    display: block;
}

.titel h1:hover {
    color: #B7950B;
}

#skills-indicators svg {
   width: 850px;
   height: 710px;
   background-color: none;
   display: block;
   margin: auto;
}

.skill-text {
    font-size: 30px;
    font-weight: bold;
}

#html {
    fill: #1E8449;
}

#css {
    fill: #F1C40F;
}

#js {
    fill: #0069ff;
}

#react {
    fill: #34495E;
}

#jquery {
    fill: #8E44AD;
}

#svg {
    fill: #BA4A00;
}

#scss {
    fill: #935116;
}

text, circle {
    transition: 1s;
}

circle:hover + text {
    text-shadow: 2px 2px 20px #17202A;
    transition: 1s;
}

text:hover {
    text-shadow: 2px 2px 20px #17202A;
    transition: 1s;
}

#circle-middle:hover {
    stroke-width: 450px;
    stroke: #1E8449;
    fill: #AED6F1;
}

#circle-left-top:hover {
    fill: #AED6F1;
}

#circle-left-top {
    stroke: #F1C40F;
    animation: circle 3s linear infinite;
}

#circle-right-top:hover {
    fill: #AED6F1;
}

#circle-right-top {
    stroke: #85C1E9;
    animation: circle 3s linear infinite;
    animation-delay: 1s;
}

#circle-middle-left:hover {
    fill: #AED6F1;
}

#circle-middle-left {
    stroke: #34495E;
    animation: circle 3s linear infinite;
    animation-delay: 2s;
}

#circle-middle-right:hover {
    fill: #AED6F1;
}

#circle-middle-right {
    stroke: #8E44AD;
    animation: circle 3s linear infinite;
    animation-delay: 3s;
}

#circle-bottom-left:hover {
    fill: #AED6F1;
}

#circle-bottom-left {
    stroke: #BA4A00;
    animation: circle 3s linear infinite;
    animation-delay: 4s;
}


#circle-bottom-right:hover {
    fill: #AED6F1;
}

#circle-bottom-right {
    stroke: #935116;
    animation: circle 3s linear infinite;
    animation-delay: 5s;
}


@keyframes circle{
    0%{stroke-width: 0px;}
    50%{stroke-width: 20px;}
    100%{stroke-width: 0px;}
}
