#background1{
    cursor: pointer;
}

.color01{
    fill: #229954;
}
.color02{
    fill: #2E86C1;
}
.color03{
    fill: #B03A2E;
}
.color04{
    fill: #D4AC0D;
}

.color1  {
    animation: color1 2s linear infinite;
}

@keyframes color1 {
    0%{fill: #52BE80;}
    10%{fill: #27AE60;}
    20%{fill: #229954;}
    30%{fill: #1E8449;}
    40%{fill: #196F3D;}
    50%{fill: #1E8449;}
    65%{fill: #229954;}
    85%{fill: #27AE60;}
    100%{fill: #52BE80;}
}

.color2  {
    animation: color2 1s linear infinite;
}

@keyframes color2 {
    0%{fill: #5DADE2;}
    10%{fill: #3498DB;}
    20%{fill: #2E86C1;}
    30%{fill: #2874A6;}
    40%{fill: #21618C;}
    50%{fill: #2874A6;}
    65%{fill: #2E86C1;}
    85%{fill: #3498DB;}
    100%{fill: #5DADE2;}
}

.color3  {
    animation: color3 3s linear infinite;
}

@keyframes color3 {
    0%{fill: #EC7063;}
    10%{fill: #E74C3C;}
    20%{fill: #CB4335;}
    30%{fill: #B03A2E;}
    40%{fill: #943126;}
    50%{fill: #B03A2E;}
    65%{fill: #CB4335;}
    85%{fill: #E74C3C;}
    100%{fill: #EC7063;}
}

.color4  {
    animation: color4 3s linear infinite;
}

@keyframes color4 {
    0%{fill: #F4D03F;}
    10%{fill: #F1C40F;}
    20%{fill: #D4AC0D;}
    30%{fill: #B7950B;}
    40%{fill: #9A7D0A;}
    50%{fill: #B7950B;}
    65%{fill: #D4AC0D;}
    85%{fill: #F1C40F;}
    100%{fill: #F4D03F;}
}