footer {
    background-color: #1C2833;
    text-align: center;
}

#text {
    fill: #F4D03F;
    font-size: 25px;
}

#text a {
    text-decoration: none;
    fill: #F4D03F;
}

#text a:hover {
    fill: #B7950B;
}

footer svg {
    background-color: #17202A;
    margin: 0;
    padding: 0;
    margin-top: -200px;
}

#footer1 {
    transition: 1s;
}

#footer1:hover {
    fill: #F1C40F;
    transition: 1s;
}