#knowledge {
    background-color: #1B4F72;
    background-image: linear-gradient(#2E86C1 80%, #0069ff);
    padding: 90px;
}

#knowledge h1 {
    text-align: center;
    color: #F4D03F;
    display: block;
}

#knowledge h1:hover {
    color: #B7950B;
}

.aphorism {
    color: white;
    font-size: 80px;
    width: 90%;
    margin: 50px auto 200px auto;
}

dt {
    float: right;
}

dt a {
    text-decoration: none;
    color: #F4D03F;
    transition: 1s;
}

dt a:hover {
    transition: 1s;
    color: #B7950B;
}

dd::first-letter {
    color: #F4D03F;
    font-size: 120px;
}

.knowledge-explain {
    margin-top: 70px;
}

.year {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.xazi {
    background-color: white;
    height: 3px;
    transition: 1s;
}

.name-city {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.city {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.school {
    color: white;
    font-size: 34px;
    font-weight: bold;
    max-width: 300px;
    text-transform: uppercase;
}

.bachelor {
    color: white;
    font-size: 38px;
    font-weight: bold;
    max-width: 300px;
    text-transform: uppercase;
}

.knowledge-explain p {
    transition: 1s;
}

.knowledge-explain p:hover {
    color: #F1C40F;
    transition: 1s;
}

.xazi-animation {
    animation: xazi-animation 2s linear;
    transition: 1s;
}

@keyframes xazi-animation {
    0%{width: 100%; background-color: #F7DC6F; border-color: #F7DC6F;}
    10%{width: 90%; background-color: #922B21; border-color: #922B21;}
    20%{width: 70%; background-color: #7D3C98; border-color: #7D3C98;}
    20%{width: 70%; background-color: #34495E; border-color: #34495E;}
    30%{width: 80%; background-color: #196F3D; border-color: #196F3D;}
    40%{width: 50%; background-color: #909497; border-color: #909497;}
    50%{width: 60%; background-color: #9A7D0A; border-color: #9A7D0A;}
    60%{width: 20%; background-color: #A04000; border-color: #A04000;}
    70%{width: 10%; background-color: #2471A3; border-color: #2471A3;}
    80%{width: 40%; background-color: #B03A2E; border-color: #B03A2E;}
    90%{width: 70%; background-color: #F1C40F; border-color: #F1C40F;}
    100%{width: 100%; background-color: #0B5345; border-color: #0B5345;}
}