#top {
  background-color: #145A32;
  padding: 50px 0 100px 0;
}

#top h1 {
  color: #f4d03f;
  font-size: 7em;
  text-align: center;
  padding: 26px;
  transition: 1s;
  background: -webkit-linear-gradient(#F4D03F, #9A7D0A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#top h1:hover {
  transition: 1s;
  transform: translateX(-5px);
  background: -webkit-linear-gradient(#9A7D0A, #F4D03F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fixed-left {
  position: fixed;
  left: 30px;
  top: 30px;
}

#name a {
  text-decoration: none;
  cursor: none;
}

#name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: white;
  transition: 1s;
  width: 0;
}

#name:hover::after {
  width: 100%;
  transition: 1s;
}

#name:hover h3 {
    color: #f4d03f;
    transition: color 1s linear;
}

#name h3 {
  margin: 5px;
  color: white;
  transition: 1s;
}
